* {
  font-family: Helvetica;
}

.record {
  cursor: pointer;
}

.visualizations {
  display: flex;
  flex-direction: column;
}

.visualization {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 50px;
}

.visualization div {
  width: 3px;
  background: blue;
}

.ipa-nodes label {
  cursor: pointer;
  font-size: 18px;
  margin-right: 10px;
}

.ipa-nodes {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
